html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul{
list-style-type: none;
}

body {
  background: url('../images/bg.png');
  background-size:  cover;
  background-position: center;
  font-family: 'Coda', cursive;
}

h1{
  text-align: center;
}

#timer {
  margin-left: 8%;
}

.container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}

.score_table {
  width: 40%;
  font-size: 18px;
  margin-top: 1%;
  margin-bottom: 3%;
}

.score_table .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score_table .stars li {
  list-style: none;
  display: inline-block;
}

.score_table .restart {
  float: right;
  cursor: pointer;
}

#deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.open {
  transform: rotateY(0);
  background: #02b3e4;
  font-size: 33px;
  cursor: default;
  pointer-events: none;
}

.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
  pointer-events: none;
  -webkit-animation:spin 1s linear;
-moz-animation:spin 1s linear;
animation:spin 1s linear;
  }

  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.wrong-match {
  cursor: default;
  font-size: 33px;
  background: #ff0000;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#refresh {
  font-size: 15px;
}

.star-change {
  color: #c2c0bf;
}

.fade {
  visibility: hidden;
  opacity: 0;
}

.modal-dialog {
  margin: 15% auto;
  padding: 20px;
  width: 70%;
}

.modal-content{
  text-align: center;
}

.fade:target {
  visibility: visible;
}

.show {
  visibility: visible ;
  opacity: 100 ;
}
